@import url("https://fonts.googleapis.com/css2?family=Acme&family=Jaro:opsz@6..72&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Protest+Strike&display=swap");

.letra{
  font-family: "oswald", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000000;
  border-radius: 10px;
  padding: 5px;
  background: #ffffff23;
  font-size: 20px;
 
}
.iconosnav{
  border-radius: 50%;
  padding: 1px;
  background: #ffffff2a;
  font-size: 20px;
 
}

.subtitle{
  font-family: "Permanent Marker", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #fcbe15;
  font-size: 45px;
}

.letra:hover{
  color: #442e02;
}
.menu{
  border: 1px solid rgba(187, 187, 173, 0.644);
  background: #ffffff13;
  color: rgba(255, 255, 255, 0.952);
  padding: 5px ;
  border-radius: 8px;
}



.navb{
  background: rgba(255, 253, 253, 0);
}
.secnosotros{
  background: #ffae00f6;
  border-radius: 20px;
  border: 1px solid rgb(255, 102, 0);
}

body{
  background: #ffffff;
}
.title {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  color: #eb0303;
  text-shadow: -3px -3px 0 rgba(255, 254, 206), 3px -3px 0 rgba(255, 254, 206), -3px 3px 0 rgb(255, 253, 148),
    3px 3px 0 rgb(138, 119, 98);
}

.titledos {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  font-weight: bold;
  color: #ff5e2d;
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0);
}

.titledoss {
  font-size: 100px;

  color: #292828;
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0);
}

.text{
  font-family: "oswald", serif;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  color: #111010;
}
.textt{
  font-family: "oswald", serif;
  font-style: normal;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

.texttt{
  font-family: "oswald", serif;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  color: #030303;
}



.titletres {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: #ffe601;
  text-shadow: -1px -1px 0 rgb(255, 234, 115), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(255, 234, 115),
    1px 1px 0 rgb(0, 0, 0);
}

.titletress {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: #089cff;
  text-shadow: -1px -1px 0 rgb(118, 178, 255), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(118, 178, 255),
    1px 1px 0 rgb(0, 0, 0);
}

.titletresss {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: #ff9c08;
  text-shadow: -1px -1px 0 rgb(255, 184, 31), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(255, 193, 23),
    1px 1px 0 rgb(7, 4, 0);
}

.titlecuatro {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  text-shadow: -3px -3px 0 rgb(238, 255, 3), 3px -3px 0 rgba(238, 255, 3), -3px 3px 0 rgb(238, 255, 3),
    3px 3px 0 rgba(238, 255, 3);
}

.titlecuatroo {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  text-shadow: -1px -1px 0 rgb(7, 0, 0), 1px -1px 0 rgb(2, 0, 0), -3px 3px 0 rgba(8, 6, 6, 0.671),
    1px 1px 0 rgb(0, 0, 0);
}
.textttt {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  text-shadow: -1px -1px 0 rgb(51, 48, 48), 1px -1px 0 rgb(0, 0, 0), -3px 3px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgb(0, 0, 0);
}

.textbo {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 27px;
  color: #02011b;
  border-radius: 40px;
  backdrop-filter: blur(20px);
  background: rgba(255, 208, 0, 0.199) ;
  border: 1px solid #ffe600;
  
}

.sechome {
  background-image: url("/assets/img/r.JPG");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: changeBackground 8s infinite;
}
#galeriachilos{
  background-image: url("/assets/img/menu-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
 
  display: flex;
  align-items: center;
  justify-content: center;
  
}
@keyframes changeBackground {
  0% {
    background-image: url("/assets/img/r.JPG");
  }
  33% {
    background-image: url("/assets/img/r1.JPG");
  }
  66% {
    background-image: url("/assets/img/r2.JPG");
  }
  100% {
    background-image: url("/assets/img/r.JPG");
  }
}

.secvideo {
  background-image: url("/assets/img/forma.png");
  background-size: 100% auto; /* Ajusta el ancho al 100% y la altura automáticamente */
  background-repeat: no-repeat;
  background-position: top center; /* Posiciona la imagen en la parte superior y centrada horizontalmente */
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start; /* Alinea el contenido al inicio (parte superior) */
  justify-content: center;
  animation: forma 8s infinite;
}
@keyframes forma {
  0% {
    background-image: url("/assets/img/forma.png");
  }
  33% {
    background-image: url("/assets/img/forma2.png");
  }
  66% {
    background-image: url("/assets/img/forma1.png");
  }
  100% {
    background-image: url("/assets/img/forma.png");
  }
}


.ratio {
  position: relative;
  width: 90%;
  padding-bottom: 45%; 
  margin: 0 auto; 
  border-radius: 15px; 
  overflow: hidden; 
}

.ratio iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  border: 0;
  border-radius: 15px; 
}

.navbar-brand img {
  position: absolute;
  bottom: -27px; /* Adjust this value to control the overflow */
  left: 15%;
  transform: translateX(-50%);
}


.navb.scrolled {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.3);
}

.image-container {
  position: absolute;
  width: 100%;
  height: 100%;
 
}

.animated-image {
  position: absolute;
  bottom: -50%;
  right: 0;
  width: 440px; 
  z-index: 1000;
}

.prod img {
  display: none; /* Oculta todas las imágenes por defecto */
  opacity: 0;
  width: 100%; /* Ocupa el ancho completo del contenedor */
  height: 500px; /* Altura fija */
  object-fit: cover; /* Ajusta la imagen sin distorsionarla */
  transition: opacity 1s; /* Transición suave al mostrar/ocultar */
}

.prod img.active {
  display: block; /* Muestra solo la imagen activa */
  opacity: 1;
  animation: pulse 1.5s infinite; /* Pulso automático */
}

/* Estilos para pantallas grandes */
@media (min-width: 1200px) {
  .prod img {
    height: 600px; /* Incrementa la altura en pantallas grandes */
  }
}

/* Animación de pulso */
@keyframes pulse {
  0% {
    transform: scale(1); /* Tamaño normal */
  }
  50% {
    transform: scale(1.1); /* Crece un 10% */
  }
  100% {
    transform: scale(1); /* Vuelve al tamaño original */
  }
}


.textos h2 {
  display: none; /* Oculta todos los textos por defecto */
  opacity: 0;
  transition: opacity 1s; /* Transición suave al mostrar/ocultar */
}

.textos h2.active {
  display: block; /* Muestra solo el texto activo */
  opacity: 1;
}

.seccproductos {
  display: flex;
  flex-wrap: wrap;
  gap: 40px; /* Ajusta el espacio entre los elementos */
  justify-content: space-between;
}

.product {
  border-radius: 30px;
  background: #e6e6e6;
  box-shadow: inset 9px 9px 15px #dddddd,
            inset -9px -9px 15px #efefef;
  text-align: center;
}
.product img {
  max-width: 100%;
  height: auto;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #032447;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.floating-button .badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 0.9rem;
}
.floating-button1 {
  position: fixed;
  bottom: 90px;
  right: 32px;
  background-color: #097981;
  color: white;
  border: 1px solid rgb(11, 31, 0);
  padding-bottom: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
 
  cursor: pointer;
}

.contenidoproductos{
  background: #e6e6e6;
}
.imgpc{
  max-width: 100%;
  max-height: 200px;
  filter: drop-shadow(
    -10px -10px 26px #96918d
  );
}

.detallecalorias{
  border-radius: 13px;
  background: #e3e3e3;
  box-shadow: inset 8px 8px 16px #b8b8b8,
            inset -8px -8px 16px #ffffff;
}

.modal-content{
  background-color: #e3e3e3;
}